body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #DDE6ED;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
.sidebar{
    position: fixed;
    left:0;
    width: 250px;
    height: 100%;
    background-color: #042331;

}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
}

ul li:hover a{
    padding-left: 50px;
    transition: 0.6s;
    color: black;
}
ul li:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}

.box{
    margin-left: 70px;
    margin-top: 40px;
    background-color: #AEE2FF;
    height: 170px;
    width: 350px;
    color: black;
    border-radius: 10px;
}
.box1{
    margin-left: 350px;
    margin-top: 40px;
    background-color: #AEE2FF;
    height: 170px;
    width: 350px;
    color: black;
    border-radius: 10px;
}

.box h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    padding-top: 3px;

}
.box1 h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    padding-top: 3px;

}
.container{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.inner{
    display: flex;
    flex-direction: row;

}
.material-symbols-outlined{
    padding-top: 22px;
    padding-left: 150px;
}
.box span{
    font-size: 40px;
    color: #19A7CE;
}
.box1 span{
    font-size: 40px;
    color: #19A7CE;
}
.subheading{
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subheading1{
    margin-left: 20px;
}
.subheading1 .span{
    color: green;
    font-size: 18px;
}
.box:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}
.box1:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}
.img{
    margin-left: 150px;
    margin-top: 40px;
}

.img1{
    margin-left: 180px;
    margin-top: 40px;
}
.img1 .img1{
    width: 450px;
    height: 350px;
    border-radius: 10px;
}
.graphs{
    display: flex;
    flex-direction: row;
}

.img .img2{
    width: 680px;
    height: 350px;
    margin-top: 40px;
}

.graphs .product{
    background-color: white;
    height: 350px;
    width: 460px;
    margin-left: 33px;
    margin-top: 40px;
    border-radius: 10px;
}
.subheading2{
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30px;
}
.product .productlist{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product .productlist h3{
    font-weight: 150;
}


.dashboard-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 121px;
    width: 1240px;
    margin-left: 360px;
}

.dashboard-footer p {
    margin: 0;
}

.dashboard-footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dashboard-footer ul li {
    display: inline-block;
    margin-right: 10px;
}

.dashboard-footer ul li a {
    color: #fff;
    text-decoration: none;
}

.dashboard-footer ul li a:hover {
    text-decoration: underline;
}
